@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .alert-success {
        background-color: #bbf7d0;
    }
    .alert-warning {
        background-color: rgb(234 179 8);
    }
    .alert-error {
        background-color: rgb(239 68 68);
    }
}
